# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object).

What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

**Lets import the libraries**

In [2]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

**Using Lists**

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
# Using list and providing index
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
#We can even give index without defining index argument
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

**Series using NumPy Arrays**

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

**Series Using Dictionary**

In [8]:
d = {'a':10,'b':20,'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:Lets take an example of strn

In [9]:
labels = ['a','b','c']
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In Numpy we have arange which gives a numbers in a particular range like wise think about a scenario in which we have to use a range of date in such case we can use date_range

In [3]:
# Even functions (although unlikely that you will use this)
a=pd.date_range(start='01-10-2020',end='26-10-2020',)
a

DatetimeIndex(['2020-01-10', '2020-01-11', '2020-01-12', '2020-01-13',
               '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17',
               '2020-01-18', '2020-01-19',
               ...
               '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20',
               '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', length=291, freq='D')

In [ ]:
a=pd.date_range(start='01-10-2020',end='26-10-2020',)

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [11]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [12]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [14]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [15]:
ser1['USA']

1

Operations are then also done based off of index:

In [16]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [17]:
ser1=pd.Series([1,2,3,4],index=['a','b','c','d'])
ser2=pd.Series([1,2,5,4],index=['a','b','e','d'])

In [18]:
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
ser1['b']

2

In [20]:
ser2['e']

5

In [21]:
ser2+ser1

a    2.0
b    4.0
c    NaN
d    8.0
e    NaN
dtype: float64

it shows NaN for C and E because their is no corresponding value of C and E in the other Series

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series!
# Great Job!