Convert Pandas Series to List?

In [1]:
import pandas as pd
import numpy as np
df=pd.Series([25,36,79,48,60])

In [4]:
l=[7,5,4,6,8,9,0]
s=pd.Series(l)
print(s)

0    7
1    5
2    4
3    6
4    8
5    9
6    0
dtype: int64

Write a program to add,subract,mulitple and divide and compare two programs?

In [6]:
ds1=pd.Series([25,36,79,48,60])
ds2=pd.Series([11,45,58,79,97])

In [8]:
#Multiplication
m=ds1*ds2
print(m)

0     275
1    1620
2    4582
3    3792
4    5820
dtype: int64

In [10]:
# Subtraction
sub=ds1-ds2
print(sub)

0    14
1    -9
2    21
3   -31
4   -37
dtype: int64

In [12]:
#Division
divi=ds1/ds2
print(divi)

0    2.272727
1    0.800000
2    1.362069
3    0.607595
4    0.618557
dtype: float64

Convert numpy array to Series

In [13]:
np_array=np.arange(10)
pd.Series(np_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

Convert Series to Array

In [14]:
s1=pd.Series(['100','200','Python',300.12])
np.array(s1)

array(['100', '200', 'Python', 300.12], dtype=object)

Find the index position of the smallest and the largest number in given series?

In [18]:
nums=pd.Series([1,7,92,12,43,82,1,0,18])
m=nums.idxmax()
s=nums.idxmin()
print('maximum elemente at the index',m)
print('minimum elemente at the index',s)

maximum elemente at the index 2
minimum elemente at the index 7

Write a program to stack given 2 series horizonatally and vertically

In [20]:
h=pd.concat([ds1, ds2], axis=1)
print('horizonatally')
print(h)
v=pd.concat([ds1, ds2], axis=0)
print('vertically')
print(v)

horizonatally
    0   1
0  25  11
1  36  45
2  79  58
3  48  79
4  60  97
vertically
0    25
1    36
2    79
3    48
4    60
0    11
1    45
2    58
3    79
4    97
dtype: int64

Write a program to display all sunday of 2020:

In [2]:
DATES=pd.date_range(start='2020-01-01', end='2020-12-31')
sundays=DATES[DATES.weekday==6]
print(sundays)

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
               '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17',
               '2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29',
               '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27'],
              dtype='datetime64[ns]', freq=None)

Convert first character of each word in a Series to Upper Case

In [3]:

data = pd.Series(['hello world', 'python programming', 'pandas series', 'convert first character'])
result = data.str.title()

print(result)

0                Hello World
1         Python Programming
2              Pandas Series
3    Convert First Character
dtype: object